In [2]:
import tensorflow as tf

In [3]:
import numpy as np

In [4]:
import pandas as pd
df = pd.read_csv('cleaned_bikes.csv')

In [5]:
df

      Unnamed: 0     price  kms_driven  owner  age  power  brand
0              0   35000.0     17654.0    1.0  3.0  110.0      1
1              1  119900.0     11000.0    1.0  4.0  350.0      2
2              2  600000.0       110.0    1.0  8.0  675.0      3
3              3   65000.0     16329.0    1.0  4.0  180.0      1
4              4   80000.0     10000.0    1.0  3.0  150.0      4
...          ...       ...         ...    ...  ...    ...    ...
7319        9362   25000.0     48587.0    1.0  8.0  150.0      6
7320        9369   35000.0     60000.0    1.0  9.0  220.0      7
7321        9370  450000.0      3430.0    1.0  4.0  750.0     15
7322        9371  139000.0     21300.0    1.0  4.0  400.0      7
7323        9372   80000.0      7127.0    1.0  5.0  220.0      7

[7324 rows x 7 columns]

In [6]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0    1.0  3.0  110.0      1
1     119900.0     11000.0    1.0  4.0  350.0      2
2     600000.0       110.0    1.0  8.0  675.0      3
3      65000.0     16329.0    1.0  4.0  180.0      1
4      80000.0     10000.0    1.0  3.0  150.0      4
...        ...         ...    ...  ...    ...    ...
7319   25000.0     48587.0    1.0  8.0  150.0      6
7320   35000.0     60000.0    1.0  9.0  220.0      7
7321  450000.0      3430.0    1.0  4.0  750.0     15
7322  139000.0     21300.0    1.0  4.0  400.0      7
7323   80000.0      7127.0    1.0  5.0  220.0      7

[7324 rows x 6 columns]

In [8]:
x = df.drop(['price'], axis=1)
y = df['price']

In [9]:
x

      kms_driven  owner  age  power  brand
0        17654.0    1.0  3.0  110.0      1
1        11000.0    1.0  4.0  350.0      2
2          110.0    1.0  8.0  675.0      3
3        16329.0    1.0  4.0  180.0      1
4        10000.0    1.0  3.0  150.0      4
...          ...    ...  ...    ...    ...
7319     48587.0    1.0  8.0  150.0      6
7320     60000.0    1.0  9.0  220.0      7
7321      3430.0    1.0  4.0  750.0     15
7322     21300.0    1.0  4.0  400.0      7
7323      7127.0    1.0  5.0  220.0      7

[7324 rows x 5 columns]

In [10]:
y

0        35000.0
1       119900.0
2       600000.0
3        65000.0
4        80000.0
          ...
7319     25000.0
7320     35000.0
7321    450000.0
7322    139000.0
7323     80000.0
Name: price, Length: 7324, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
input_shape = x_train.shape[1]
input_shape

5

In [14]:
model = Sequential()
model.add(Dense(units = 128, activation='relu', input_dim = input_shape))
model.add(Dense(units = 64, activation='relu'))
model.add(Dense(units = 32, activation='relu'))
model.add(Dense(units = 16, activation='relu'))
model.add(Dense(units = 8, activation='relu'))


model.add(Dense(units = 1, activation='linear'))

model.compile(loss = 'mean_squared_error' , optimizer = 'adam', metrics = [ 'mae', 'mse'])

c:\Users\saini\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 21010966528.0000 - mae: 85640.1953 - mse: 21010966528.0000
Epoch 2/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 19557793792.0000 - mae: 82783.9688 - mse: 19557793792.0000
Epoch 3/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 21388605440.0000 - mae: 85418.8438 - mse: 21388605440.0000
Epoch 4/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 19461300224.0000 - mae: 75665.4531 - mse: 19461300224.0000
Epoch 5/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 14534616064.0000 - mae: 54492.5469 - mse: 14534616064.0000
Epoch 6/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 15266235392.0000 - mae: 58976.1445 - mse: 15266235392.0000
Epoch 7/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 15642365952.0000 - mae: 60480.5039 - mse: 15642365952.0000
Epoch 8/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 11659706368.0000 - mae: 56539.0938 - mse: 11659706368.0000
Epoch 9/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 14565000192.0000 - mae: 60843.9922 - mse: 14565000192.0000
Epoch 10/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 15508646912.0000 - mae: 60243.0000 - mse: 15508646912.0000

In [16]:
pred = model.predict(x_test)

46/46 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

In [17]:
pred = np.ravel(pred)

In [18]:
pred = pd.DataFrame(pred)

In [19]:
y_test

1696    939200.0
5430    102000.0
2533     12000.0
4908     45000.0
7048     51000.0
          ...
101      60000.0
5472     37000.0
2152     13900.0
986     120000.0
6324     90000.0
Name: price, Length: 1465, dtype: float64

In [20]:
pd.concat([y_test, pred], axis=1)

         price             0
1696  939200.0           NaN
5430  102000.0           NaN
2533   12000.0           NaN
4908   45000.0           NaN
7048   51000.0           NaN
...        ...           ...
1460       NaN  84697.171875
1461       NaN  84697.171875
1462       NaN  84697.171875
1463       NaN  84697.171875
1464       NaN  84697.171875

[2637 rows x 2 columns]

In [20]:
output = pd.DataFrame({'Actual': y_test, 'Predication': (pred>=0.5).astype(int)})

ValueError: Data must be 1-dimensional, got ndarray of shape (1465, 1) instead

In [ ]:
output

        Actual  Predication
1921  107300.0            1
6047   45000.0            1
5349   41000.0            1
6269   70000.0            1
4578   30000.0            1
...        ...          ...
2152   13900.0            1
5384   35000.0            1
2623   28000.0            1
329    35000.0            1
6610  195000.0            1

[1465 rows x 2 columns]